{% extends 'base.html' %}
{% load extras %}

{% block body %}

{% include 'navbar.html' %}

<br>

<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Dr Disinfecto Shopping Cart</h1>
      <h2 class="subtitle">
        Dear {{ request.user.first_name }}
      </h2>
    </div>
  </div>
</section>

{% if total_price is None %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-6">
                <article class="message is-info">
                    <div class="message-header">
                      <p>Cart is empty</p>
                      <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                        No items in the cart yet.
                    </div>
                  </article>                
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">
          <div class="container">
              <nav class="panel">
                  <p class="panel-heading">
                    Total Price- <strong>{{ total_price }}</strong>
                  </p>
                  <div class="columns is-multiline">
                      {% for item in items %}
                      <div class="column is-full">
                          <div class="level box">
                              <div class="level-left">
                                  <p style="text-transform: capitalize;">{{ item.product.id|getname }} (Qty- {{ item.quantity }})</p>
                              </div>
                              <div class="level-right">
                                  <p>{{ item.price }}</p>&nbsp;
                                  <button class="button" onclick="removeItem('{{ item.pk }}');">
                                      <span class="icon">
                                          <i class="fas fa-trash"></i>
                                      </span>                                
                                  </button>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
                  <div class="panel-block">
                    <button class="button is-link is-outlined is-fullwidth"
                    onclick="checkout();">
                      Checkout
                    </button>
                  </div>
              </nav>    
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% include 'csrfcookie.html' %}

<script>
    const removeItem = (id) => {
        const carturl = `{% url 'product:addtocart' %}?id=${parseInt(id)}`;
        fetch(carturl, {
            method: 'DELETE',
            headers: {
                "X-CSRFToken": csrftoken
            }
        })
        .then(success=> window.location.reload())
        .catch(err=> alert('Error occurred'));
    };

    const checkout = () => {
      const paymenturl = "{% url 'product:payment' %}";

      headers = {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
      }

      payload = {
        'amount': parseFloat('{{ total_price }}')*100,
        'currency': 'INR',
        'payment_capture': 1
      }

      fetch(paymenturl, {
        method: 'POST',
        headers: headers,
        body: JSON.stringify(payload)
      })
      .then(success=> {
        success.json()
        .then(resp=> window.location.href=`${paymenturl}?amount=${resp.amount}&id=${resp.order_id}`)
        .catch(err=>alert('error occured'));
      })
      .catch(err=> console.log(err));
    };
</script>


{% endblock %}