{% extends 'base.html' %}

{% block body %}

{% include 'navbar.html' %}

<br>

<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Dr Disinfecto</h1>
      <h2 class="subtitle">
        Give your valueable feedback
      </h2>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half card">
          <form method="post">
            {% csrf_token %}

            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input type="email" class="input" name="email" placeholder="Enter the email" value="{{request.user.email}}">
              </div>
            </div>

            <div class="field">
              <label class="label">Your Issues</label>
              <div class="control">
                <textarea class="textarea" name="msg" placeholder="Write the short description about your Query"></textarea>
              </div>
            </div>

            <div class="field is-grouped">
              <p class="control">
                <button type="submit" class="button is-link is-outlined">
                  Submit
                </button>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
