<footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <div class="soc">
          <a href="https://fb.com/dr.disinfecto" target="_blank"><i class="fa fa-facebook fa-lg fa-2x" aria-hidden="true"></i></a> &nbsp;
          <a href="https://www.instagram.com/dr.disinfecto/" target="_blank"><i class="fa fa-instagram fa-lg fa-2x" aria-hidden="true"></i></a>&nbsp;
          <a href="https://twitter.com/DrDisinfecto" target="_blank"><i class="fa fa-twitter fa-lg fa-2x" aria-hidden="true"></i></a>
        </div>
        <br>
        <p class="title is-5">
          We are based in <i>New Delhi</i> 
        </p>
        <p class="title is-5">
          For more details please contact us at <br><br><b><a href="#">+91 9818427577</a></b> 
        </p>
      </div>
    </div>
  </footer>