{% extends 'base.html' %}
{% load static %}

{% block body %}

{% include 'navbar.html' %}

<br>

<section class="hero">
  <div class="hero-body">
    <div class="columns">
      {% for product in products %}
      <div class="column is-3">
        <div class="card">
  <div class="card-image">
    <figure class="image" style="height:200px; width:100%;">
      <img src="{{product.image.url}}" alt="Placeholder imaage" style="width: 100%; height: 100%;">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4" style='text-transform:capitalize;'>{{product.name}}</p>
        <p class="subtitle is-6">Size- {{product.size}}</p>
        <p class="subtitle is-6">Colour- {{product.colour}}</p>
        <p class="subtitle is-6">Price- &#8377;{{product.price}}</p>
      </div>
    </div>
  </div>
</div>
      </div>
      {% endfor %}
  </div>
</section>



{% endblock %}
