<nav class="navbar is-primary is-fixed-top">
    <div class="navbar-brand">
       <!-- <a href="#/" class="navbar-item router-link-exact-active router-link-active"><img src="logotype12.png?82ee4d5164455ca96059b6f85e289452" alt="bulma-pro"></a>  -->
       <a href="/" style="color: ghostwhite;" class="navbar-item router-link-exact-active router-link-active">Dr Disinfecto</a> 
       <div data-target="navbarExampleTransparentExample" class="navbar-burger burger"><span></span> <span></span> <span></span></div>
    </div>
    <div id="navbarExampleTransparentExample" class="navbar-menu">      
       <div class="navbar-end">
         <a href="{% url 'product:allproducts' %}" class="navbar-item is-active router-link-active" style="color: ghostwhite;" title="Getting Started">
            <span>Products</span>
         </a>
         <a href="#/form" class="navbar-item" title="Form Inputs" style="color: ghostwhite;">
            <span>Services</span>
         </a>
         <a href="/#contactus" class="navbar-item" title="Form Inputs" style="color: ghostwhite;">
            <span>Contact Us</span>
         </a>
         <a href="/#inquiry" class="navbar-item" title="Form Inputs" style="color: ghostwhite;">
            <span>Inquiry</span>
         </a>
         <a href="{% url 'product:giveReview' %}" class="navbar-item" title="Form Inputs" style="color: ghostwhite;">
            <span>Reviews</span>
         </a>
         <a href="#/form" class="navbar-item" title="Form Inputs" style="color: ghostwhite;">
            <span>Theme</span>
         </a>
         <a href="{% url 'product:login' %}" title="Github Repository" class="navbar-item" style="color: ghostwhite;">
            <span>Login</span>
         </a>
         <a href="/#aboutus" title="Github Repository" class="navbar-item" style="color: ghostwhite;">
            <span>About Us</span>
         </a>
         <a href="/" title="Github Repository" class="navbar-item" style="color: ghostwhite;">
            <span>Home</span>
         </a>
      </div>
    </div>
 </nav>