{% extends 'base.html' %}
{% load static %}


{% block body %}

<section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Dr Disinfecto</h1>
        <h2 class="subtitle">
            Payment Gateway
        </h2>
      </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-6 has-text-centered">
                <article class="message is-info">
                    <div class="message-header">
                      <p>Proceed to Pay</p>
                      <a href="javascript: history.back();" style="text-decoration: none;">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                      </a>
                    </div>
                    <div class="message-body">
                        <form action="{% url 'product:success' %}" method="POST">
                            {% csrf_token %}
                            <div class="field">
                                <label class="label">Enter Your Address</label>
                                <div class="control">
                                    <textarea class="textarea" name="address" placeholder="Enter your address" required></textarea>
                                </div>
                            </div>
                            <script src="https://checkout.razorpay.com/v1/checkout.js"
                            data-key="rzp_test_GEj9mz5V86qM6f"
                            data-amount="{{amount}}"
                            data-currency="INR"
                            data-order_id="{{order_id}}"
                            data-buttontext="Pay with Razorpay"
                            data-name="Dr Disinfecto"
                            data-image="{% static 'images/Small logo.PNG' %}"
                            data-theme.color="#06065C">
                            </script>
                            <input type="hidden" name="mobile" value="{{request.user.phone}}">
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}