{% extends 'base.html' %}

{% block body %}

{% include 'navbar.html' %}

<style>
  .navbar.is-primary {
    background-color: #0d335a;
  }
</style>

<br>

<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">
      DR. DISINFECTO
    </h1>
    <h2 class="subtitle">
      Sign Up
    </h2>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="card">
            <div class="card-content">
              <form action="{% url 'product:signup' %}" method="post">
                {% csrf_token %}
                <div class="field">
                  <label class="label">{{form.first_name.label}}</label>
                  <div class="control">
                    {{form.first_name}}
                  </div>
                </div>
    
                <div class="field">
                  <label class="label">{{form.last_name.label}}</label>
                  <div class="control">
                    {{form.last_name}}
                  </div>
                </div>
    
                <div class="field">
                  <label class="label">{{form.phone.label}}</label>
                  <div class="control">
                    {{form.phone}}
                  </div>
                </div>
    
                <div class="field">
                  <label class="label">{{form.address.label}}</label>
                  <div class="control">
                    {{form.address}}
                  </div>
                </div>
    
                <div class="field">
                  <label class="label">{{form.email.label}}</label>
                  <div class="control">
                    {{form.email}}
                  </div>
                </div>
    
                <div class="field">
                  <label class="label">{{form.password1.label}}</label>
                  <div class="control">
                    {{form.password1}}
                  </div>
                </div>
    
                <div class="field">
                  <label class="label">{{form.password2.label}}</label>
                  <div class="control">
                    {{form.password2}}
                  </div>
                </div>
                <div class="field is-grouped">
                  <p class="control">
                    <button class="button is-black" type="submit">
                      SIGNUP
                    </button>
                  </p>
                </div>
              </form>
            </div>
            <footer class="card-footer">
              <a class="button is-grey card-footer-item" href="{% url 'product:login' %}">Login</a>
            </footer>            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
