{% extends 'base.html' %}

{% block body %}

<style>
  .navbar.is-primary {
    background-color: #0d335a;
  }
</style>

{% include 'navbar.html' %}

<br>

<section class="hero is-fullheight-with-navbar is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <p class="title">Dr Disinfecto</p>
          <p class="subtitle">Register Now</p>
          <div class="box">
            <div>
              <form action="{% url 'product:signup' %}" method="post">
                {% csrf_token %}
                <div class="field">
                  <label class="label">{{form.first_name.label}}</label>
                  <div class="control">
                    {{form.first_name}}
                  </div>
                </div>
    
                <div class="field">
                  <label class="label">{{form.last_name.label}}</label>
                  <div class="control">
                    {{form.last_name}}
                  </div>
                </div>
    
                <div class="field">
                  <label class="label">{{form.phone.label}}</label>
                  <div class="control">
                    {{form.phone}}
                  </div>
                </div>
    
                <!-- <div class="field">
                  <label class="label">{{form.address.label}}</label>
                  <div class="control">
                    {{form.address}}
                  </div>
                </div> -->
    
                <div class="field">
                  <label class="label">{{form.email.label}}</label>
                  <div class="control">
                    {{form.email}}
                  </div>
                </div>
    
                <div class="field">
                  <label class="label">{{form.password1.label}}</label>
                  <div class="control">
                    {{form.password1}}
                  </div>
                </div>
    
                <div class="field">
                  <label class="label">{{form.password2.label}}</label>
                  <div class="control">
                    {{form.password2}}
                  </div>
                </div>

                <div class="field">
                  <label class="label">&nbsp;</label>
                  <div class="control">
                    <button type="submit" id="signup-btn" class="button is-success"> Sign Up </button>
                  </div>
                </div>
                <hr>
                <div class="columns is-centered">
                  <div class="column is-6">
                    <p>Alrady have an account?<a href="{% url 'product:login' %}"><b>Login here</b></a></p>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
