{% extends 'base.html' %}


{% block body %}

<style>
  .navbar.is-primary {
    background-color: #0d335a;
  }
</style>


{% include 'navbar.html' %}

<br>

<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">
      DR. DISINFECTO
    </h1>
    <h2 class="subtitle">
      Login
    </h2>
  </div>
</section>


<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="card">
            <div class="card-content">
            <form method="post">
              {% csrf_token %}
              <div class="field">
                <label class="label">{{ form.username.label }}</label>
                <div class="control">
                  {{ form.username }}
                </div>
                {% if form.errors %}
                <p class="help is-danger">Email is invalid</p>
                {% endif %}
              </div>
              <div class="field">
                <label class="label">{{ form.password.label }}</label>
                <div class="control">
                  {{ form.password }}
                </div>
                {% if form.errors %}
                <p class="help is-danger">Password is incorrect</p>
                {% endif %}
              </div>
              <div class="field is-grouped">
                <p class="control">
                  <button class="button is-black" type="submit">
                    LOGIN
                  </button>
                </p>
                <p class="control">
                  <a class="button is-light" href="{% url 'product:signup' %}">
                    SIGNUP
                  </a>
                </p>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>


<script>
  document.getElementById('id_username').className = 'input';
  document.getElementById('id_password').className = 'input';
</script>

{% endblock %}
