{% extends 'base.html' %}

{% block body %}

<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Dr Disinfecto</h1>
      <h2 class="subtitle">
        Password Reset Process
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Password Changed</h1>
    <div class="columns">
      <div class="column is-full">
        <article class="message is-info">
          <div class="message-header">
            <p>Password Changed Successfully</p>
            <button class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
            <p class="subtitle">
              Your password has been set. You may go ahead and sign in now <a href="{% url 'product:login' %}">Click here</a>
            </p>          
          </div>
        </article>
      </div>
    </div>
  </div>
</section>


{% endblock %}
