{% extends 'base.html' %}

{% block body %}

    <style>
    .navbar.is-primary {
      background-color: #0d335a;
    }
  </style>
  
  
  {% include 'navbar.html' %}

  <section class="hero is-fullheight-with-navbar is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6">
            <p class="title">Dr Disinfecto</p>
            <p class="subtitle">Forgot Password</p>
            <div class="box">
              <div>
                <form method="post">
                  {% csrf_token %}
                  <div class="columns">
                    <div class="column is-10">
                      <div class="field">
                        <label class="label">{{ form.email.label }}</label>
                        <div class="control">
                          {{ form.email }}
                        </div>
                      </div>    
                    </div>
                    <div class="column is-2">
                      <div class="field">
                        <label class="label">...</label>
                        <div class="control">
                          <button type="submit" id="submit-btn" class="button is-success"> Submit </button>
                        </div>
                      </div>    
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <script>
    document.getElementById('id_email').className = 'input';
  </script>
    
{% endblock %}